<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Scrollable_CollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17FE3AA1202771BB00FCF38E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17FE3AB5202771BC00FCF38E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17FE3AC0202771BC00FCF38E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
